{% extends 'main.html' %}
{% block content %}

<div class="container p-3 my-3 bg-dark text-white" style="width:35%;height:200%; padding:20px; border-radius: 25px;">

  <div class="banner">
          <h1 style="text-align:center">ADD PAYMENT</h1>
  </div> 

<img src="/static/images/payment2.jpg" width="100%"></img>

<form action="" method="POST">
   
 <div class="form-group" style="background-color:white; padding:10px">
    <label for="exampleInputEmail1" style="color:black;  font-size:25px">Purchase Id</label>
    <input type="number" class="form-control" name="purchase_id" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Item Name">
    
  </div>
  <div class="form-group" style="background-color:white; padding:10px">
    <label for="exampleInputEmail1" style="color:black; font-size:25px">Amount Paid</label>
    <input type="number" class="form-control" name="amount_paid" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter the Price">

  </div>
  
  
  <div class="form-group" style="background-color:white; padding:10px">
    <label for="exampleInputPassword1" style="color:black; font-size:25px">Payment Date</label>
    <input type="date" name="payment_date" class="form-control" id="exampleInputPassword1" placeholder="Purchase Date">
  </div>
  
  <div class="d-grid gap-2 col-6 mx-auto" style="padding:10px">
  <button class="btn btn-primary" type="submit">Add Payment</button>
  
  </div>
  
</form>
 
</div>    
 
         

        
{% endblock %}    



   
