<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cashier</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
</head>
<body style="background-color: #5fafff;">
    

    <div style="background-color: #5fafff;" class="ui placeholder segment">

        <h3 style="font-size:xx-large;background-color: #1b1c1d;" class="ui inverted block center aligned header">
            <i class="money bill alternate icon"></i>
            Cashier
        </h3>
    

        <div style="background-color: #1b1c1d;" class="ui placeholder segment">

        <div style="margin-top: 20px;" class="ui placeholder inverted segment">
            <div class="ui icon header">
            <i class="user icon"></i>
            Welcome {{username}}!!!
            </div>
            <div class="inline">
              <div class="ui buttons">
                <a href="/" class="ui primary button">
                  <i class="home icon"></i>
                  Home</a>
                <div class="or"></div>
                <a href="/logout" class="ui red button">
                  <i class="sign-out icon"></i>
                  Logout</a>
              </div>
            </div>
         </div>

         <div class="three column centered stackable ui grid">
        <div class="column">
         <div class="ui inverted blue segment">
            <h2 class="ui right floated header">Total Purchases</h2>
            <div class="ui clearing divider"></div>
            <p style="font-size:xx-large;" >{{purchase_count}}</p>
          </div>
        </div>
        
        <div class="column">
          <div class="ui inverted green segment">
            <h2 class="ui right floated header">Total Payments</h2>
            <div class="ui clearing divider"></div>
            <p style="font-size:xx-large;" >{{payment_count}}</p>
          </div>
        </div>

        <div class="column">
          <div class="ui inverted red segment">
            <h2 class="ui right floated header">Total Pending Payments</h2>
            <div class="ui clearing divider"></div>
            <p style="font-size:xx-large;" >{{pending_count}}</p>
          </div>
        </div>
        </div>

         <div style="background-color: #242c36;" class="ui inverted segment">
            <h3 class="ui block inverted header">
                Purchase History
            </h3>
            <table class="ui selectable inverted table">
                <thead>
                  <tr>
                    <th>Purchase Id</th>
                    <th>User Id</th>
                    <th>Item Name</th>
                    <th>Price</th>
                    <th>Amount Paid</th>
                    <th>Payment Date</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for col in purchase_details %}
                  <tr>
                    <td>{{col[0]}}</td>
                    <td>{{col[1]}}</td>
                    <td>{{col[2]}}</td>
                    <td>{{col[3]}}</td>
                    <td>{{col[4]}}</td>
                    <td>{{col[5]}}</td>
                    {% if role == 1 %}
                    <td>
                      <div class="ui buttons">
                        <a href="/updatepurchase/{{col[0]}}" class="ui primary button">
                          <i class="edit icon"></i>
                          Update</a>
                        <div class="or"></div>
                        <a href="/deletepurchase/{{col[0]}}" class="ui red button">
                          <i class="trash icon"></i>
                          Delete</a>
                      </div>
                    </td>
                    {% endif %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
         </div>


         {% if role == 0 %}
         <!-- Options -->
         <div class="three column centered stackable ui grid">
          <div class="column">
           <div class="ui inverted segment">
              <h2 class="ui right floated header">See Pending Payments</h2>
              <div class="ui clearing divider"></div>
              <a href="/pendingpayments" class="ui primary labeled icon button">
                <i class="list icon"></i>
                Pending Payments
              </a>
            </div>
          </div>
          
          <div class="column">
            <div class="ui inverted segment">
              <h2 class="ui right floated header">See Payment Details</h2>
              <div class="ui clearing divider"></div>
              <a href="/paymentdetails" class="ui primary labeled icon button">
                <i class="list icon"></i>
                Payment Details
              </a>
            </div>
          </div>
  
          <div class="column">
            <div class="ui inverted segment">
              <h2 class="ui right floated header">Contact Our Service</h2>
              <div class="ui clearing divider"></div>
              <a href="/contact" class="ui primary labeled icon button">
                <i class="envelope icon"></i>
                Contact Us
              </a>
            </div>
          </div>
          </div>
          <!-- Options -->
          {% endif %}


          {% if role == 1 %}
          <!-- Options -->
          <div class="four column centered stackable ui grid">
           <div class="column">
            <div class="ui inverted segment">
               <h2 class="ui right floated header">Add Purchase Details</h2>
               <div class="ui clearing divider"></div>
               <a href="/addpurchase" class="ui primary labeled icon button">
                 <i class="rupee sign icon"></i>
                 Add Purchase
               </a>
             </div>
           </div>
           
           <div class="column">
             <div class="ui inverted segment">
               <h2 class="ui right floated header">See Pending Payments</h2>
               <div class="ui clearing divider"></div>
               <a href="/pendingpayments" class="ui primary labeled icon button">
                <i class="list icon"></i>
                 Pending Payments
               </a>
             </div>
           </div>
   
           <div class="column">
             <div class="ui inverted segment">
               <h2 class="ui right floated header">Add Payment Details</h2>
               <div class="ui clearing divider"></div>
               <a href="/addpayment" class="ui primary labeled icon button">
                <i class="rupee sign icon"></i>
                 Add Payment
               </a>
             </div>
           </div>

           <div class="column">
            <div class="ui inverted segment">
              <h2 class="ui right floated header">See Payment Details</h2>
              <div class="ui clearing divider"></div>
              <a href="/paymentdetails" class="ui primary labeled icon button">
                <i class="list icon"></i>
                Payment Details
              </a>
            </div>
          </div>

           </div>
           <!-- Options -->
           {% endif %}
      


        </div>

        <div class="ui inverted placeholder segment">
            <div class="ui icon header">
              <i class="code icon"></i>
              Developed with ❤️ by Sai Jeevan P
            </div>
            <div class="inline">
              <div class="ui inverted button"><a  href="https://github.com/SaiJeevanPuchakayala">Github</a></div>
              <div class="ui inverted button"><a  href="https://www.linkedin.com/in/sai-jeevan-puchakayala/">LinkedIn</a></div>
            </div>
          </div>
    </div>

</body>
</html>