<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E Cashier</title>
    <link rel="icon" href="{{ url_for('static', filename = 'images/icon.ico') }}" type="image/icon type">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
</head>
<body style="background-color: #e7ff5f;">
    

    <div style="background-color: #e7ff5f;" class="ui placeholder segment">

        <a href="/intro" style="font-size:xx-large;background-color: #1b1c1d;" class="ui inverted block center aligned header">
          <i class="book icon"></i>
          E-Cashier
        </a>
    

        <div style="background-color: #1b1c1d;" class="ui placeholder segment">

        <div style="margin-top: 20px;" class="ui placeholder inverted segment">
            <div class="ui icon header">
            <i class="credit card outline icon"></i>
              Managing Payments is Easier Now!
            </div>
            <div class="inline">
              <a href="/login" class="ui medium primary labeled icon button">
                <i class="sign-in icon"></i>
                Login
              </a>
              <a href="/register" class="ui medium primary labeled icon button">
                <i class="pencil icon"></i>
                Register
              </a>
            </div>
         </div>


         <div style="background-color: #242c36;" class="ui inverted segment">
            <h3 class="ui block inverted header">
                About the Application
            </h3>
            <p style="font-size: xx-larger;" class="ui left aligned header">A Payment book application designed to maintain customers, payments, and their purchases of an electronics store. A retailer will be an admin of the application and each customer of the retailer’s shop will be the user. Customers can create their account in the application with their details and they will be able to see their purchase history; and pending payments. Admin will maintain data about purchases made by the customers & can see payment details and pending payments of the customers and will send alerts to the customers via SMS if there is any due for payment or payment is pending for a long time.
            </p>
         </div>
         <div class="three column centered stackable ui grid">
          <div class="column">
           <div style="background-color: #2e4b6e;" class="ui inverted segment">
              <h2 class="ui right floated header">Clear Path to Your Contact Information</h2>
              <div class="ui clearing divider"></div>
              <p style="font-size:large;" >Online shoppers want to know they can easily reach your company for support -- especially if they're first-time customers. If you don't give them a clear path to your contact information, they may either hesitate to buy from you, or they may not get the support they need to complete a transaction.</p>
            </div>
          </div>
          
          <div class="column">
            <div style="background-color: #2e4b6e;" class="ui inverted segment">
              <h2 class="ui right floated header">Multiple Login Options</h2>
              <div class="ui clearing divider"></div>
              <p style="font-size:large;" >While it's more convenient for your marketing to require shoppers to create an account before placing an order, it doesn't always benefit your customers. You might lose people along the way if you don't give them the option to check out as a guest. Remember: You can always ask them to create an account once they've bought from you and feel a little closer to your brand.<br></p>
            </div>
          </div>
  
          <div class="column">
            <div style="background-color: #2e4b6e;" class="ui inverted segment">
              <h2 class="ui right floated header">Shop even Safer</h2>
              <div class="ui clearing divider"></div>
              <p style="font-size:large;" >★ 45 Days Money Back Guarantee, 360 Days Free Repair and DOA Policy to fully protect all buyers.<br>
                ★ Easy and secure payment methods: every purchase via app goes through 128-bit SSL servers.<br>
                ★ Customer First: Class-leading 24/7 International Customer Support in English.<br><br></p>
            </div>
          </div>
          </div>
        </div>

        <div class="ui inverted placeholder segment">
          <div class="ui icon header">
            <i class="shopping cart icon"></i>
            All types of Electronic Gadgets are Available!
          </div>
          <div class="inline">
            <i class="gamepad large icon"></i>
            <i class="camera retro large icon"></i>
            <i class="print large icon"></i>
            <i class="desktop large icon"></i>
            <i class="headphones large icon"></i>
            <i class="laptop large icon"></i>
            <i class="microchip large icon"></i>
            <i class="mobile large icon"></i>
            <i class="tablet large icon"></i>
            <i class="tv large icon"></i>
          </div>
        </div>
    </div>
</body>
</html>