<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E Cashier</title>
    <link rel="icon" href="{{ url_for('static', filename = 'images/icon.ico') }}" type="image/icon type">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
</head>
<body style="background-color: #5fafff;">
    

    <div style="background-color: #5fafff;" class="ui placeholder segment">

        <a href="/intro" style="font-size:xx-large;background-color: #1b1c1d;" class="ui inverted block center aligned header">
            <i class="money bill alternate icon"></i>
            E Cashier
        </a>
    

        <div style="background-color: #1b1c1d;" class="ui placeholder segment">

        <div style="margin-top: 20px;" class="ui placeholder inverted segment">
            <div class="ui icon header">
            <i class="credit card outline icon"></i>
              Managing Payments is Easier Now!
            </div>
            <div class="inline">
              <a href="/login" class="ui medium primary labeled icon button">
                <i class="sign-in icon"></i>
                Login
              </a>
              <a href="/register" class="ui medium primary labeled icon button">
                <i class="pencil icon"></i>
                Register
              </a>
            </div>
         </div>


         <div style="background-color: #242c36;" class="ui inverted segment">
            <h3 class="ui block inverted header">
                About Cashier
            </h3>
            <p style="font-size: xx-larger;" class="ui left aligned header">Cashier is a Payment book application designed to maintain customers, payments, and their purchases. A retailer will be an admin of the application and each customer of the retailer’s shop will be the user. Customers can create their account in Cashier and they will be able to see their purchase history, pending payments, and also if the user is having any doubt or complaint they can contact the retailer by using the contact our service. Admin will maintain data about purchases made by the customers & can see payment details and pending payment of the customers and will send alerts to the customers if there is any due for payment or payment is pending for a long time.
            </p>
         </div>
        </div>

        <div class="ui inverted placeholder segment">
            <div class="ui icon header">
              <i class="code icon"></i>
              Developed with ❤️ by Sai Jeevan P
            </div>
            <div class="inline">
              <div class="ui inverted button"><a  href="https://github.com/SaiJeevanPuchakayala">Github</a></div>
              <div class="ui inverted button"><a  href="https://www.linkedin.com/in/sai-jeevan-puchakayala/">LinkedIn</a></div>
            </div>
          </div>
    </div>
</body>
</html>