
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E Cashier</title>
    <link rel="icon" href="{{ url_for('static', filename = 'images/icon.ico') }}" type="image/icon type">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
</head>

<style>
  body > .grid {
    height: 100%;
  }
  .image {
    margin-top: -100px;
  }
  .column {
    max-width: 450px;
  }
</style>

<body style="background-color: #e7ff5f;">
    

    <div style="background-color: #e7ff5f;" class="ui segment">

        <a href="/intro"><h3 style="font-size:xx-large;background-color: #1b1c1d;" class="ui inverted block center aligned header">
          <i class="book icon"></i>
          E-Cashier
        </h3></a>
    

        <div style="background-color: #1b1c1d;" class="ui segment">


            <div class="ui middle aligned center aligned grid">
                <div class="column">
                    <div style="color: white;" class="ui icon header">
                        <i class="sign in alternate icon"></i>
                        Login To Your Account
                      </div>
                  </h2>
                  <form action="" method="POST" class="ui large form">
                    <div class="ui stacked inverted segment">
                      <div class="field">
                        {% if message %}
                        <div class="ui red message">{{message}}</div>
                        {% endif %}
                      </div>
                      <div class="field">
                        <div class="ui left icon input">
                          <i class="user icon"></i>
                          <input type="email" name="email" placeholder="Enter Your Email" required>
                        </div>
                      </div>
                      <div class="field">
                        <div class="ui left icon input">
                          <i class="lock icon"></i>
                          <input type="password" name="password" placeholder="Password" required>
                        </div>
                      </div>
                      <button type="submit" class="ui fluid large blue submit button">Login</button>
                    </div>
            
                  </form>
              
                  <div class="ui inverted message">
                    New to us? <a href="/register">Register</a>
                  </div>
                </div>
              </div>

        </div>

        <div class="ui inverted placeholder segment">
          <div class="ui icon header">
            <i class="shopping cart icon"></i>
            All types of Electronic Gadgets are Available!
          </div>
          <div class="inline">
            <i class="gamepad large icon"></i>
            <i class="camera retro large icon"></i>
            <i class="print large icon"></i>
            <i class="desktop large icon"></i>
            <i class="headphones large icon"></i>
            <i class="laptop large icon"></i>
            <i class="microchip large icon"></i>
            <i class="mobile large icon"></i>
            <i class="tablet large icon"></i>
            <i class="tv large icon"></i>
          </div>
        </div>
    </div>
</body>
</html>