{% extends 'main.html' %}
{% block content %}


<style>
td{
font-size:20px;
}

th{
font-size:25px;
}
</style>
<br>
<div class="container" style="background-color: black; border-radius: 0.5em;width:81.5em;display: flex; background: rgba(60, 60, 60,0.7);">
     <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16" style="color:white;padding:5px">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
    </svg>
    <h2 style="text-align:left; colorjh:white;padding:22px; font-size:17px; color:white">Welcome {{username}}!!!</h2>
    <a style="margin: auto 0px auto auto;" href = "/"><button type="button" class="btn btn-warning btn-md" >Go Back to Home</button></a>
</div>
<br>
{% if role == 1 %}

<div class="container p-3 my-3 bg-dark text-white" style="padding:20px; border-radius: 25px; background-color:#000305">

<div class="banner"> 
    <h1 style="text-align:center; font-size:30px;">PENDING PAYMENTS OF CUSTOMERS</h1>
</div> 
<table class="table table-borderless" style="background-color:#F4F6F7">
<thead class="border-bottom font-weight-bold">
    <tr>
        <th scope="col">Purchase Id</th>
          <th scope="col">User ID</th>
          <th scope="col">Item Name</th>
          <th scope="col">Price</th>
          <th scope="col">Amount Paid</th>
          <th scope="col">Purchase Date</th>
        
        
    </tr>
</thead> 
<tbody>
    {% for col in pending_payments %}
        <tr>
              <td>{{col[0]}}</td>
              <td>{{col[1]}}</td>
              <td>{{col[2]}}</td>
              <td>{{col[3]}}</td>
              <td>{{col[4]}}</td>
              <td>{{col[5]}}</td>
              {% if role == 1 %}
              <td>
                  <a href="/pendingemail/{{col[1]}}"><button type="submit" class="btn btn-danger btn-md">Send E-mail</button></a>
              
              </td>
              {% endif %}
             
             
        </tr>
    {% endfor %}
</tbody>
</table>
</div>
</div>

{% else %}
<div class="container p-3 my-3 bg-dark text-white" style="padding:20px; border-radius: 25px; background-color:#000305">

<div class="banner"> 
    <h1 style="text-align:center; font-size:30px;">PENDING PAYMENTS OF CUSTOMER : {{username}}</h1>
</div> 
<table class="table table-borderless" style="background-color:#F4F6F7">
<thead class="border-bottom font-weight-bold">
    <tr>
        <th scope="col">Purchase Id</th>
          <th scope="col">User ID</th>
          <th scope="col">Item Name</th>
          <th scope="col">Price</th>
          <th scope="col">Amount Paid</th>
          <th scope="col">Purchase Date</th>
        
        
    </tr>
</thead> 
<tbody>
    {% for col in pending_payments %}
        <tr>
              <td>{{col[0]}}</td>
              <td>{{col[1]}}</td>
              <td>{{col[2]}}</td>
              <td>{{col[3]}}</td>
              <td>{{col[4]}}</td>
              <td>{{col[5]}}</td>
              
        </tr>
    {% endfor %}
</tbody>
</table>
</div>
</div>

{% endif %}

{% endblock %}

